PORT=5000
NODE_ENV=development

# Sesuaikan dengan database MySQL/phpMyAdmin kamu
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=carimakan
DB_SSL=false

# Untuk hosting Railway/Aiven bisa juga pakai DATABASE_URL
# DATABASE_URL=mysql://user:password@host:3306/carimakan

JWT_SECRET=ganti_dengan_secret_yang_panjang
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173
